*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.landing_page{
    min-height: 100vh;
    width: 100%;
    background: url("../images/2.jpg") center/cover no-repeat;
    position: relative;
}

.dark_background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

nav, .links{
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.links a{
    text-decoration: none;
    color: white;
    justify-content: space-between;
}

.links a:hover{
    color: #00714c;
}

nav a, i{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.intro-text{
    position: absolute;
    left: 20%;
    top: 45%;
    width: 60%;
    color: white
}

.info{
    display: flex;
    margin: 50px 30px;
}

.info .boring_info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info .boring_info p:nth-child(1){
    font-weight: bold;
}

.info .boring_info p span{
    font-weight: bold;
}

.info .boring_info h1{
    color: #00714c;
}

.info .boring_info button{
    background: #00714c;
    outline: none;
    border: none;
    max-width: 230px;
    border-radius: 10px;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.info .boring_info button:hover{
    background: #366c5a;
}

.info .mini_gallery{
    flex: 1;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 220px;
    grid-auto-flow: dense;
    padding: 5px 0;
}

.info .mini_gallery .gallery{
    background: black;
    position: relative;
    overflow: hidden;
}

.info .mini_gallery .gallery img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.info .mini_gallery .gallery img:hover{
    transform: scale(1.2);
}

.info .mini_gallery .long{
    grid-column: span 2;
}